[submodule "StudentManager/ltframe"]
	path = StudentManager/ltframe
	url = https://github.com/ltframe/ltframe/
[submodule "studentmanager/tablesorter"]
	path = studentmanager/tablesorter
	url = https://github.com/Mottie/tablesorter/
